In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\acer\anaconda3\envs\ml\lib\site-packages (9.0.0)

In [19]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [20]:
import pandas as pd
import mysql.connector
from dotenv import load_dotenv

In [21]:
load_dotenv()

True

In [23]:
import os

In [24]:
db_config ={
    'user':os.getenv('DB_USER'),
    'password':os.getenv('DB_PASSWORD'),
    'host':os.getenv('DB_HOST'),
    'database':os.getenv('DB_DATABASE')
}

In [25]:
connection = mysql.connector.connect(**db_config)#** - unpacking symbol

In [26]:
query = "INSERT INTO practice('name', 'phone', 'email') VALUES ('maruf','01705644008','s@gmail.com')"

In [27]:
df = pd.read_sql(query,con=connection)

C:\Users\Acer\AppData\Local\Temp/ipykernel_23768/2943212400.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,con=connection)

In [18]:
df

   id    name        phone                       email
0   1  Salman  01705644008  salmanmdsultan92@gmail.com