In [1]:
!pip install mysql-connector-python pandas

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp39-cp39-win_amd64.whl (14.3 MB)
Requirement already satisfied: pandas in c:\users\acer\appdata\roaming\python\python39\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\acer\anaconda3\envs\ml\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\envs\ml\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\acer\anaconda3\envs\ml\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\envs\ml\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [2]:
import mysql.connector

In [3]:
import pandas as pd

In [7]:
db_config = {'user':'root',
            'password':'',
            'host':'localhost',
            'database':'portfoloio_sample'}

In [8]:
conn= mysql.connector.connect(**db_config)

In [11]:
query = "SELECT * FROM about"

In [12]:
df = pd.read_sql(query,conn)

C:\Users\Acer\AppData\Local\Temp/ipykernel_23100/785092515.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

In [13]:
df

,id,name,email,phone,address,linkedin,facebook,github,research,image,image_data,description
0,3,Salman Md Sultan,salmanmdsultan@gmail.com,456546453654,"693, West Shewrapara, Mirpur",https://www.linkedin.com/in/salman-md-sultan-8...,https://web.facebook.com/salmanmd.sultan.1,https://github.com/Salman13201016,profile.com,uploads/a.jpg,E:xampp-----222\tmpphp9722.tmp,I am experienced in leveraging web application...